# ======================================================================
# 1. .files (Dotfiles & Dot-directories)
# ======================================================================
.*
!.gitignore
!.gitattributes

# ======================================================================
# 2. Materiales to make videos (Audios, Images, Configs, Workspace)
# ======================================================================
workspace/
videocreation-test.tar
tmp_escenas_video.yaml
*.mp3
*.wav
*.aac
*.m4a
*.ogg
*.png
*.jpg
*.jpeg
*.webp
*.tar
*.zip

# ======================================================================
# 3. Resulting videos
# ======================================================================
output/
tmp_output/
test_out/
temp_uploads/
*.mp4
*.mov
*.avi
*.webm
*.mkv
*.flv
*.m4v

# ======================================================================
# Python compilation cache
# ======================================================================
__pycache__/
*.pyc
